page-novo-cliente {
    .imgCliente{
        height: 35%;
        text-align: center;
    }
    .iconCliente {
        color: white;
        font-size: 13em
    }
    .action-sheet-destructive ion-icon {
        color: red!important;
    }
    .teste {
        color: red!important;
        
    }
}
